.home_img {
  background-image: url(../images/view.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 95vh;
  width: 100%;
}

.home p {
  position: fixed;
  top: 45%;
  left: 18%;
  color: white;
  font-size: 50px;
  font-weight: bolder;
}

@media screen and (max-width: 1280px) {
  .home p {
    font-size: 45px;
  }
}

@media screen and (max-width: 1024px) {
  .home p {
    top: 45%;
    left: 15%;
    font-size: 40px;
  }
}

@media screen and (max-width: 600px) {
  .home p {
    top: 50%;
    left: 10%;
    font-size: 35px;
  }
}
