.skills {
  background-color: rgb(82, 82, 82);
  font-size: 30px;
}

.heading {
  margin-top: auto;
  text-align: center;
  padding-top: 5%;
}
.skills h1 {
  padding-top: 100px;
  margin-top: auto;
  border-bottom: solid 3px #ffffff;
  color: #ffffff;
  display: inline-block;
}

.skills_contents {
  padding-top: 5%;
  color: #ffffff;
}

.skills_contents h2 {
  text-shadow: 3px 5px 6px gold;
}

.first_row {
  display: flex;
}

.second_row {
  display: flex;
  padding-top: 15%;
}

.skill_1 {
  margin-left: 15%;
}

.skill_3 {
  margin-left: 15%;
}

.work {
  width: 60%;
  height: 50%;
  cursor: pointer;
}
.language {
  padding-top: 5.5%;
}

.logo_space {
  margin-left: 3%;
}

.another_work {
  text-align: center;
  padding-top: 10%;
  color: #ffffff;
}

.br::before {
  content: "\A";
  white-space: pre;
}

.space {
  padding-top: 5%;
}
